.container-card{
    background-color: black;   
    margin: 5px;     
    border-radius: 4px;
    height: 390px;
}

.card{
    margin: 10px;   
    
}
.card img{
    width: 250px;
    height: 250px;
}

.container-card h3{
    color: white;
    padding-left: 15px;    
}

.btn-edit-delete{
    cursor:pointer;
    background: #000;
    color:white;
    border-color: white;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
}


.btn-edit-delete a{
    color:white;
}

