nav {
    position:absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5% 5px;
    height: 90px;
    background-color: black;    

}

nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;   
    
}

nav .logo ul{
    display: flex;
}

nav .logo ul li{
    list-style: none;
    padding-left: 10px;
}

nav .logo a{     
    color: #ffffff;   
    text-decoration: none;
}


nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
}

nav .list li{
    list-style: none;
}

nav .list a{
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color:#ffffff;
    text-decoration: none;
}

nav .list a:hover{
    border-bottom: 4px solid #6759f9;
}

#toggle{
    position:relative;
    top: -100px;
}

nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50);
}

nav .icon-bars .line{
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media (max-width:768px){
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 95px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(34, 34, 34);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .list a{
        font-size: 20px;        
    }

    nav :checked ~ .list{
        bottom: 0;        
    }

    nav .icon-bars{
        display: block;        
    }
}


/* menu */

.menu ul {
    list-style:none;
    margin:0;
    padding:0;
}  
   
 

   
.menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}   

.menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

.menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;    
    padding:0;
}

.menu ul ul li {
    float:none;
    width:150px;
    background: black;
    font-size: large;
    padding-top: 15px;
    
}
   

.menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}
   
   /* items del menu desplegable al pasar el ratón */
   
.menu ul li:hover > ul {
    display:block;
}

